* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 15px;
    font-family: sans-serif;
}
/* Common */

.mt-8 {
    margin-top: 8px;
}
.mt-16 {
    margin-top: 16px;
}
.btn:hover {
    cursor: pointer;
    background-color: #ccc;
    color: black;
}
.btn {
    background-color: black;
    color: white;
    text-decoration: none;
    border: none;
    padding: 10px 14px;
}
.pull-right {
    float: right !important;
}
.bg-black {
    background-color: black !important;
}
.text-white {
    color: white !important;
}

.text-center {
    text-align: center !important;
} 
.row {
    margin: 0 -8px;

}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-three {
    width: 33.33333%;
}
.col-two {
    width: 50%;
}
.col-full {
    width: 100%;
}
/* Scpecific */
/* Header begin */
#header{    
    z-index: 1;
    height: 46px;
    background-color: black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
#nav{
    display: inline-block;
}
#nav, .subnav {
    list-style-type: none;
}
#nav > li {
    display: inline-block;

} 
#nav li {
    position: relative;
}

#nav > li > a {
    text-transform: uppercase;
    
}
#nav li a {
    color: white;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}
#nav .subnav li:hover a,
#nav > li:hover >  a {
    color: black;
    background-color: #ccc;

}
#nav li:hover .subnav {
    display: block;
}
#nav .subnav {
    top: 100%;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#nav .subnav a {
    color: black;
    line-height: 38px;
    padding: 0 18px;
    
    display: block;
}
#header .search-icon-section {
    float: right;
}
#header .search-icon-section:hover {
    background-color: #f44336;
    cursor: pointer;
}
#header .search-icon {
    padding: 0 21px;
    line-height: 46px;
    color: white;
    
}
/* Header end */
/* Slider begin */
#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/slider/slider1.jpg) top center / cover no-repeat;
}
#slider .content-section {
    padding: 32px 16px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}
#slider .heading-section {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0;
    color: white;
}
#slider .sub-heading-section {
    font-weight: 600;
    
    margin: 15px 0;
    color: white;
}
#content {
    
}
#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}
#content .content-section .heading-section {
    line-height: 1.5;
    margin: 10px 0;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 4px;
}
#content .content-section .sub-heading-section {
    margin: 15px 0;
    opacity: 60%;
    
    font-style: italic;
    
}
#content .content-section .text-section {
    margin: 15px 0;
    
    line-height: 1.4;
    text-align: justify;
}
.member-list {
    padding: 32px 0;
}
.member-img {
    width: 149px;
}
.member-name {
    
    margin: 15px 0;
}
.tickets-list {
    list-style-type: none;
    
    background-color: white;
    margin-top: 46px;
}
.tickets-list li {
    border-bottom: 1px solid #ccc;
    padding: 8px 16px ;
    color: #757575;
}
.tickets-list li .sold-out {
    background-color: #f44336;
    padding: 3px 8px;
    margin-left: 16px;
}
.tickets-list li .quantity {
    margin-top: -2px;
    margin-right: 16px;
    padding: 2px 8px ;
    border-radius: 50%;
}
.places-list {
    padding: 32px 0;
}
.place-img {
    width: 100%;
    display: block;
}
.place-img:hover {
    opacity: 60%;
}
.place-body {
    background-color: white;
    padding: 16px;
}
.place-body .text-heading {
    margin-bottom: 15px;
}
.place-body .text-date {
    opacity: 60%;
    margin: 15px 0;
}
.place-body .text-desc {
    margin: 15px 0;
    line-height: 1.5;
}
.place-body .btn {
    display: inline-block;
}
.form-control {
    padding: 10px;
    width: 100%;
}
.contact-content {
    padding: 32px 0;
}
.contact-text {
    font-size: 18px;
    line-height: 1.5;
}
.map-section {
    width: 100%;
}
#footer {
    padding: 64px 16px;
    text-align: center;
}
#footer i {
    opacity: 60%;
    font-size: 24px;
}
#footer i:hover {
    opacity: 30%;
    cursor: initial;
}
#footer p {
    opacity: 60%;
    margin: 15px 0;
}
#footer p a {
    color: black;
}
.modal {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal-content {
    position: relative;
    width: 900px;
    background-color: white;
}.modal-close:hover {
    opacity: 40%;
    cursor: pointer;
}
.modal-close {
    position: absolute;
    right: 0;
    padding: 16px;
    color: white;
    opacity: 80%;
}
.modal-heading {
    height: 130px;
    background-color: #009688;
    line-height: 130px;
    text-align: center;
    font-size: 30px;
    color: white;
    letter-spacing: 2px;
}
.modal-body {
    padding: 4px 16px;
}
.modal-label {
    display: block;
    margin: 12px 0;
}
.modal-input {
    font-size: 15px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}
.modal-btn {
    text-decoration: none;
    color: white;
    background-color: #009688;
    padding: 16px 0;
    display: block;
    width: 100%;
    text-align: center;
}
.modal-help {
    margin: 32px 0;
    text-align: right;
}
.modal-help .link-text {
    color: #2196F3;
}